html {
  font-size: calc(1vw / 14.4);
  scroll-behavior: smooth;
}
body {
  background-color: #faf9f6;
  font-family: "Suiss Intl", Arial, Helvetica, sans-serif;
}
#plugWrapper,
#promoWrapper,
#aboutWrapper {
  background: url(../images/plug_background.jpg);
  width: 1400rem;
  height: 96vh;
  border-radius: 30rem;
  margin: 0 auto;
  margin-top: 15rem;
}
#wrapper .container {
  padding: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 190rem;
  position: relative;
  z-index: 10;
}
#wrapper .headerContainer {
  display: flex;
  border: 2rem solid #faf9f6;
  border-radius: 10rem;
  padding: 20rem;
}
#wrapper .headerContainer .navBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
  margin-left: 25rem;
}
#wrapper .headerContainer a {
  font-size: 20rem;
  font-family: "Suiss Intl";
  font-weight: 300;
  text-decoration: none;
  color: #faf9f6;
}
#wrapper .headerContainer a:hover {
  color: #3d7dff;
  transition: color ease 0.8s;
}
#wrapper .headerContainer .navigation,
#wrapper .headerContainer .socialMedia {
  display: flex;
  flex-direction: row;
}
#wrapper .headerContainer .socialMedia {
  margin-left: 510rem;
  gap: 5rem;
}
#wrapper .headerContainer .navigation {
  gap: 20px;
}
#wrapper .infoContainer {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
}
#wrapper .infoContainer .title {
  font-family: "Magistral";
  font-size: 100rem;
  color: #faf9f6;
  align-items: center;
  text-align: center;
}
#wrapper .infoContainer .subtitle {
  font-size: 24rem;
  color: #faf9f6;
  font-weight: 300;
  text-align: center;
}
#wrapper .formContainer {
  display: flex;
  flex-direction: column;
}
#wrapper .formContainer .formInfo {
  font-size: 18rem;
  color: #faf9f6;
  font-weight: 300;
  text-align: center;
}
#wrapper #form {
  display: flex;
  flex-direction: row;
  gap: 20rem;
  justify-content: center;
  margin-top: 20rem;
}
#wrapper #form input {
  width: 280rem;
  height: 40rem;
  border-radius: 8rem;
  border: 2rem solid #faf9f6;
  background: none;
  font-size: 16rem;
  color: #faf9f6;
  font-weight: 300;
  padding: 0 10rem;
  transition: all ease 0.4s;
}
#wrapper #form input:focus {
  border: 2rem solid #1d68fc;
  transition: all ease 0.8s;
}
#wrapper #form input::placeholder {
  color: #faf9f688;
}
#wrapper #form button {
  width: 200rem;
  height: 45rem;
  background-color: #3d7dff;
  border-radius: 8rem;
  border: none;
  font-size: 16rem;
  color: #faf9f6;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  transition: all ease 0.8s;
}
#wrapper #form button:hover {
  cursor: pointer;
  background-color: #1d68fc;
  box-shadow: 0 0 10rem #1d68fc;
  transition: all ease 0.8s;
}
.vhsNoiseWrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #0a0a0a;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.vhsNoiseLayer {
  position: absolute;
  inset: 0;
  background-image: repeating-radial-gradient(
    circle at 0 0,
    rgba(255, 255, 255, 0.15) 0px,
    rgba(255, 255, 255, 0) 2px,
    rgba(0, 0, 0, 0.2) 3px,
    rgba(0, 0, 0, 0) 4px
  );
  mix-blend-mode: screen;
  opacity: 0.35;
  animation: noiseMove 0.18s steps(2) infinite;
  z-index: 2;
  filter: blur(0.4px) contrast(140%);
}
.vhsScanlines {
  position: absolute;
  inset: 0;
  background-image: repeating-linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.03) 0px,
    rgba(0, 0, 0, 0.15) 1px,
    rgba(0, 0, 0, 0) 2px
  );
  background-size: 100% 2px;
  opacity: 0.4;
  z-index: 3;
  animation: scanShift 4s linear infinite;
}
.vhsGlitchBar {
  position: absolute;
  left: -10%;
  width: 120%;
  height: 12px;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0) 60%
  );
  opacity: 0.4;
  filter: blur(2px);
  mix-blend-mode: screen;
  z-index: 4;
  animation: glitchBarMove 3s infinite;
  pointer-events: none;
}
@keyframes noiseMove {
  0% {
    transform: translate(0, 0) scale(1);
  }
  20% {
    transform: translate(-10%, 5%) scale(1.1);
  }
  40% {
    transform: translate(15%, -10%) scale(1.05);
  }
  60% {
    transform: translate(-5%, 15%) scale(1.15);
  }
  80% {
    transform: translate(10%, 10%) scale(1.08);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}
@keyframes scanShift {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.35;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes glitchBarMove {
  0% {
    top: -20%;
    opacity: 0;
  }
  5% {
    top: 10%;
    opacity: 0.45;
  }
  7% {
    top: 11%;
    opacity: 0.2;
  }
  8% {
    top: 9%;
    opacity: 0.5;
  }
  12% {
    top: 40%;
    opacity: 0;
  }
  60% {
    top: 60%;
    opacity: 0;
  }
  65% {
    top: 62%;
    opacity: 0.5;
  }
  70% {
    top: 64%;
    opacity: 0;
  }
  100% {
    top: 110%;
    opacity: 0;
  }
}
#promoWrapper {
  background: url(../images/promo_background.jpg);
}
#wrapper .infoContainer .promoTitle {
  line-height: 0.8;
}
#wrapper .promoContainer {
  gap: 160rem;
}
#wrapper .infoContainer .promoSubtitle {
  margin-top: 10rem;
}
.promoSoundBlock,
.promoArchiveBlock,
.fragmentBlock,
.contactBlock,
footer,
.whatWeDoBlock {
  height: 110vh;
  display: flex;
  flex-direction: column;
  margin: 0 20rem;
}
.promoSoundBlock .soundTitle {
  font-family: "Magistral";
  font-size: 60rem;
  color: #0a0a0a;
  text-align: center;
  margin-top: 60rem;
}
.promoSoundBlock .cards {
  margin-top: 30rem;
}
.promoSoundBlock .line {
  display: flex;
  flex-direction: row;
  gap: 20rem;
  margin-top: 20rem;
}
.promoSoundBlock .cardText {
  background-color: #3d7dff;
  height: 320rem;
  width: 450rem;
  border-radius: 30rem;
  font-size: 24rem;
  color: #faf9f6;
}
.promoSoundBlock .cardText p {
  margin-left: 30rem;
  margin-top: 100rem;
  line-height: 1.15;
}
.promoSoundBlock .cardText .opacityText {
  margin-top: 5rem;
  color: #faf9f67b;
}
.promoSoundBlock .cardImage img {
  height: 320rem;
  width: 450rem;
  border-radius: 30rem;
}
.promoSoundBlock .cardImageLong img {
  width: 920rem;
}
.promoArchiveBlock {
  height: 100vh;
}
.promoArchiveBlock .titleBlock {
  background-color: #ebebeb;
  border-radius: 30rem;
  padding: 30rem;
}
.promoArchiveBlock .titleBlock h2 {
  font-family: "Magistral";
  font-size: 60rem;
  color: #0a0a0a;
  line-height: 0.9;
}
.promoArchiveBlock .titleBlock p {
  font-size: 20rem;
  color: #0a0a0a;
  font-weight: 300;
  margin-top: 15rem;
  line-height: 1.15;
}
.promoArchiveBlock .archiveBlock {
  display: flex;
  flex-direction: row;
  gap: 20rem;
  margin-top: 20rem;
}
.promoArchiveBlock .archiveCard {
  width: 450rem;
  height: 500rem;
  border-radius: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* .promoArchiveBlock .orange:hover {
  background: url(../images/promoCardOne.jpg);
} */
.promoArchiveBlock .archiveCard .command {
  font-size: 16rem;
  color: #faf9f6;
  margin: 20rem;
}
.promoArchiveBlock .archiveCard .description {
  font-size: 22rem;
  color: #faf9f6;
  margin: 20rem;
}
.promoArchiveBlock .orange {
  background-color: #ff9e45;
}
.promoArchiveBlock .blue {
  background-color: #3d7dff;
}
.promoArchiveBlock .purple {
  background-color: #9a5cff;
}
.fragmentBlock {
  margin: 20rem;
  height: 80vh;
  background: url(../images/plug_background.jpg);
  border-radius: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.fragmentBlock .arrowsLine {
  display: flex;
  justify-content: space-between;
  margin: 30rem;
}
.fragmentBlock .titleFragment {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.fragmentBlock .titleFragment .title {
  font-family: "Magistral";
  font-size: 60rem;
  text-align: center;
  color: #faf9f6;
  line-height: 0.8;
}
.fragmentBlock .titleFragment p {
  font-size: 20rem;
  color: #faf9f6;
  font-weight: 300;
  margin-top: 15rem;
  line-height: 1.15;
  text-align: center;
}
.contactBlock {
  height: 90vh;
  display: flex;
  flex-direction: row;
  margin-top: 60rem;
  gap: 20px;
}
.contactBlock .contacts {
  width: 690rem;
  display: flex;
  flex-direction: column;
}
.contactBlock .form {
  background-color: #ebebeb;
  border-radius: 30rem;
}
.contactBlock .titleForm {
  font-family: "Magistral";
  font-size: 60rem;
  color: #0a0a0a;
  line-height: 0.9;
  margin: 30rem;
}
.contactBlock .formInfo {
  font-size: 20rem;
  color: #0a0a0a;
  font-weight: 300;
  margin-top: 15rem;
  line-height: 1.15;
  margin: 30rem;
}
.contactBlock #formContact {
  display: flex;
  flex-direction: column;
  margin-top: 50rem;
}
.contactBlock .contactImage img {
  width: 690rem;
  height: 640rem;
  border-radius: 30rem;
}
#wrapper #formContact input {
  margin-left: 30rem;
  margin-top: 20rem;
  width: 600rem;
  height: 50rem;
  border-radius: 8rem;
  border: 2rem solid #0a0a0a;
  background: none;
  font-size: 16rem;
  color: #0a0a0a;
  font-weight: 300;
  padding: 0 10rem;
  transition: all ease 0.4s;
}
#wrapper #formContact input:focus {
  border: 2rem solid #1d68fc;
  transition: all ease 0.8s;
}
#wrapper #formContact input::placeholder {
  color: #0a0a0a7b;
}
#wrapper #formContact button {
  margin-left: 30rem;
  margin-top: 40rem;
  margin-bottom: 60rem;
  width: 620rem;
  height: 50rem;
  background-color: #3d7dff;
  border-radius: 8rem;
  border: none;
  font-size: 16rem;
  color: #faf9f6;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  transition: all ease 0.8s;
}
#wrapper #formContact button:hover {
  cursor: pointer;
  background-color: #1d68fc;
  box-shadow: 0 0 10rem #1d68fc;
  transition: all ease 0.8s;
}
.contactBlock .socialMediaBlock {
  display: flex;
  justify-content: space-between;
  gap: 20rem;
  flex-direction: row;
  margin-top: 20rem;
}
.contactBlock .socialMediaBlock .socialBlock {
  width: 330rem;
  border: 2rem solid #0a0a0a;
  height: 60rem;
  border-radius: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.contactBlock .socialMediaBlock .socialBlock a {
  text-decoration: none;
  cursor: pointer;
  font-size: 18rem;
  color: #0a0a0a;
  display: flex;
  align-items: center;
}
footer {
  height: 20vh;
  background-color: #3d7dff;
  margin-bottom: 40rem;
  border-radius: 30rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer p,
footer a {
  font-size: 18rem;
  color: #faf9f6;
  text-decoration: none;
}
footer a:hover {
  color: #ebebeb;
  transition: color ease 0.8s;
}
footer .logoBlock {
  margin-left: 30rem;
}
footer .navBlock {
  display: flex;
  flex-direction: row;
  gap: 30rem;
  margin-top: 30rem;
}
footer .hseBlock {
  margin-right: 30rem;
  margin-top: 30rem;
}
#aboutWrapper {
  background: url(../images/about_image.jpg);
}
#aboutWrapper .container {
  gap: 190rem;
}
#aboutWrapper .formContainer {
  align-items: center;
  text-align: center;
}
#aboutWrapper .formContainer .button {
  width: 300rem;
  height: 45rem;
  background-color: none;
  border-radius: 8rem;
  border: none;
  font-size: 16rem;
  color: #faf9f6;
  border: 2rem solid #faf9f6;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  transition: all ease 0.8s;
}
#aboutWrapper .formContainer .button:hover {
  cursor: pointer;
  background-color: #1d68fc;
  box-shadow: 0 0 10rem #1d68fc;
  transition: all ease 0.8s;
}
.aboutBlock {
  display: flex;
  flex-direction: column;
  height: 90vh;
}
.aboutBlock .aboutTitle,
.aboutBlock .aboutText {
  font-family: "Magistral";
  font-size: 20rem;
  color: #0a0a0a;
  text-align: center;
  margin-top: 80rem;
}
.aboutBlock .aboutText {
  font-size: 50rem;
}
.storyBlock {
  display: flex;
  flex-direction: row;
  gap: 20rem;
  margin: 0 30rem 20rem 30rem;
}
.storyBlock .storyCard {
  width: 690rem;
  border-radius: 30rem;
  background-color: #3d7dff;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.storyBlock .storyImage img {
  width: 690rem;
  border-radius: 30rem;
}
.storyBlock .titleStory,
.whatWeDoBlock .titleCard {
  font-family: "Magistral";
  color: #faf9f6;
  font-size: 20rem;
  margin-left: 30rem;
  margin-top: 30rem;
}
.storyBlock .cardText p,
.whatWeDoBlock .whatWeDoCard p {
  font-size: 25rem;
  color: #faf9f6;
  margin-left: 30rem;
  line-height: 1.15;
}
.storyBlock .cardText .opacityText,
.whatWeDoBlock .whatWeDoCard .opacityText {
  margin-top: 5rem;
  color: #faf9f67b;
  margin-bottom: 30rem;
}
.whatWeDoBlock {
  height: 140vh;
}
.whatWeDoBlock .whatWeDoCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 400vh;
  background-color: #ebebeb;
  border-radius: 30rem;
}
.whatWeDoBlock .titleCard,
.whatWeDoBlock .whatWeDoCard p {
  color: #0a0a0a;
}
.whatWeDoBlock .whatWeDoCard p {
  font-size: 28rem;
}
.whatWeDoBlock .whatWeDoCard .opacityText {
  color: #0a0a0a7c;
  font-size: 28rem;
}
.whatWeDoBlock .imageBlock {
  display: flex;
  gap: 20rem;
  margin-top: 30rem;
}
.whatWeDoBlock .column {
  display: flex;
  flex-direction: column;
  width: 690rem;
}
.whatWeDoBlock .column img {
  border-radius: 30rem;
}
.whatWeDoBlock .line {
  display: flex;
  flex-direction: row;
}
.whatWeDoBlock .line img {
  width: 690rem;
}
.whatWeDoBlock .lineUnder {
  margin-top: 20rem;
  gap: 20rem;
}
.whatWeDoBlock .lineUnder img {
  width: 335rem;
}
.whatWeDoBlock .column .image {
  height: 805rem;
}
.fragmentAboutBlock {
  background: url(../images/promo_contact_image.jpg);
  margin: 40rem 20rem;
  height: 60vh;
  border-radius: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.fragmentAboutBlock .titleFragment {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.fragmentAboutBlock .titleFragment .title {
  font-family: "Magistral";
  font-size: 60rem;
  text-align: center;
  color: #faf9f6;
  line-height: 0.8;
}
.fragmentAboutBlock .titleFragment p {
  font-size: 20rem;
  color: #faf9f6;
  font-weight: 300;
  margin-top: 15rem;
  line-height: 1.15;
  text-align: center;
}

.O_Articles {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.O_IndexSectionCard {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 300px; 
  padding: 20px;
  border-radius: 12px;
  background-size: cover;
  background-position: center;
  text-decoration: none;
  color: white; 
  box-shadow: inset 0 -100px 50px rgba(0,0,0,0.5);
  transition: transform 0.3s ease;
}

.O_IndexSectionCard:hover {
  transform: translateY(-5px);
}

.A_IndexH3 {
  margin: 0;
  font-size: 1.5rem;
}

.O_Articles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 40px;
}

.O_IndexSectionCard {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  
  min-height: 400px; 
  width: 100%;
  
  background-color: #333;
  background-size: cover;
  background-position: center;
  border: 1px solid #444;
  border-radius: 15px;
  text-decoration: none;
  padding: 20px;
}

.A_IndexH3 {
  color: white;
  margin: 0;
  font-size: 24px;
}