#categoryWrapper {
  background: url(../images/category_back.jpg);
  width: 1400rem;
  height: 96vh;
  border-radius: 30rem;
  margin: 0 auto;
  margin-top: 15rem;
}
.cards_block {
  margin: 100rem 20rem 0 20rem;
  display: flex;
  flex-direction: column;
  gap: 20rem;
}
.card_line {
  display: flex;
  gap: 20rem;
}
.card {
  display: flex;
  flex-direction: column;
  width: 450rem;
  height: 400rem;
  border-radius: 30rem;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 15rem;
}
.info {
  display: flex;
  flex-direction: column;
  width: 380rem;
  background: #faf9f6;
  border-radius: 30rem;
  padding: 20rem;
}
.tag {
  font-family: "Suiss Intl";
  font-weight: 300;
  padding: 8rem 4rem;
  font-size: 16rem;
  color: #0a0a0a;
  width: 80rem;
  text-align: center;
  border-radius: 10rem;
  border: 1px solid #0a0a0a;
}
.title_card {
  margin-top: 15rem;
  font-family: "Magistral";
  font-size: 40rem;
  color: #0a0a0a;
}
.description {
  margin-top: 10rem;
  font-family: "Suiss Intl";
  font-weight: 400;
  opacity: 0.5;
  color: #0a0a0a;
  font-size: 16rem;
  width: 400rem;
  line-height: 20rem;
}
.button_more {
  background: #3d7dff;
  padding: 12px 8px;
  margin-top: 15rem;
  border-radius: 10rem;
  text-align: center;
}
.button_more a {
  text-decoration: none;
  font-family: "Suiss Intl";
  font-weight: 300;
  font-size: 16rem;
  color: #faf9f6;
}
.card_1 {
  background: url(../images/card_1.jpg);
}
.card_2 {
  background: url(../images/card_2.jpg);
}
.card_3 {
  background: url(../images/card_3.jpg);
}
.card_4 {
  background: url(../images/card_4.jpg);
}
.card_5 {
  background: url(../images/card_5.jpg);
}
.card_6 {
  background: url(../images/card_6.jpg);
}
.card_7 {
  background: url(../images/card_7.jpg);
}
.card_8 {
  background: url(../images/card_8.jpg);
}
.card_9 {
  background: url(../images/card_9.jpg);
}
footer {
  margin-top: 40rem;
}

#homeTechWrapper {
  background: url(../images/home_block_back.jpg);
  width: 1400rem;
  height: 96vh;
  border-radius: 30rem;
  margin: 0 auto;
  margin-top: 15rem;
}
#homeTechWrapper .formContainer .button {
  background-color: #3d7dff;
  border: none;
  margin-top: 150rem;
}
.storyBlock {
  margin-top: 50rem;
}
.infoBlock {
  flex-direction: column;
}
.storyBlock .storyCard {
  background: #ebebeb;
  height: 500rem;
}
.storyBlock .storyCard .cardText p,
.storyBlock .storyCard .titleStory {
  color: #0a0a0a;
  width: 600rem;
}
.storyBlock .storyCard .opacityText {
  opacity: 0.5;
}
.storyBlock .factsCard {
  padding: 20rem 0;
  margin-top: 20rem;
  background: #3d7dff;
  height: 300rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.storyBlock .factsCard .line {
  display: flex;
  justify-content: flex-start;
}
.storyBlock .factsCard .cardText p {
  width: auto;
}
.storyBlock .factsCard .line p {
  color: #faf9f6;
}
